body {
    font-family: Arial,  sans-serif; /* La famiglia del font */
    font-size: 18px; /* La dimensione del font principale nei tag <p></p> */
    background-color: #4f0bb4; /* Il colore dello sfondo della pagina web */
    color: #ffffff; /* Il colore del testo */ 
}
h1 {
    color: #000000; /* Il colore dell'intestazione */
    font-size: 24px; /* La dimensione del font dell'intestazione */
    font-family: Georgia, serif; /* La famiglia del font usata nell'intestazione */
}
